* {
  background-color: #1c1c1c;
}

.header {
  color: #ffffff;
  border-bottom: 1px solid #0f0f0f;
  padding: 0px;
  min-height: 20px;
}

.header button:hover {
  background-color: #3d3d3d;
}

.window {
  background-color: #212121;
}

.create-entry {
  background-color: #2b2b2b;
  color: #ffffff;
  border: 1px solid #0f0f0f;
  padding: 5px;
}

.create-button {
  background-color: #0f0f0f;
  color: #ffffff;
  border: 2px solid #000000;
  padding: 0px;
}
