* {
  font-size: 12px;
  font-family: Verdana;
}

/* .header { */
/*   background-image: linear-gradient(90deg, #5a5b5b, #1d1d1d); */
/*   /* color: #ffffff; */
*/
/*   border-bottom: 1px solid #0f0f0f; */
/*   padding: 0px; */
/*   min-height: 20px; */
/* } */

.table-list {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}
